
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    /* font-family: 'Poppins', sans-serif; */
}

.navbar-scroll {
    background-color: white;
    backdrop-filter: blur(10px);
}
.gallery-container{
  align-items:center;
  display: flex;
  position: relative;
  margin: 0 auto;
max-width: fit-content;


}
.gallery-item{
  height: 400px;
  opacity: 0;
  position:absolute;
  transition:  0.3s ease-in-out;
  width: 330px;
  z-index: 0;
  border-radius: 15px;
  background-size: contain;
}
.gallery-item-1{
  left: 15%;
  opacity: .4;
  transform: translateX(-50%);
}
.gallery-item-2, .gallery-item-4{
  height: 250px;
  opacity: 0.8;
  width: 38px;
  z-index: 1;
}
.gallery-item-2
{
  left: 30%;
   transform: translateX(-50%);
  }
  .gallery-item-3{
    box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
    width: 330px;
    z-index: 2;
  }